.constraintItem {
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--mantine-color-default);
    border: 2px solid var(--mantine-color-default-border);
    border-radius: 4px;
    opacity: 0.85;
    pointer-events: none;
    z-index: 3;
    background-image: repeating-linear-gradient(45deg,
            transparent,
            transparent 8px,
            var(--mantine-color-default-hover) 8px,
            var(--mantine-color-default-hover) 16px);
}