.modalOverlay {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-md);
}

.eventCard {
    border-top: 4px solid;
}

.label {
    font-weight: 700;
    color: var(--mantine-color-dimmed);
}