.weekHeaderContainer {
  display: flex;
  border-bottom: 1px solid var(--mantine-color-default-border);
  margin-left: 60px;
}

.dayHeader {
  flex: 1;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--mantine-color-default-border);
}

.dayNumber {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 4px auto 0;
}

.activeDay {
  background-color: var(--mantine-color-blue-filled);
  color: var(--mantine-color-white);
}