/** @author aaron-iz */
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.navbarToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    border-top: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.collapsedNavLink {
    display: flex;
    justify-content: center;
}

.collapsedNavLink :global(.mantine-NavLink-section) {
    margin-right: 0 !important;
}

/* Hide burger button by default (on large screens) */
.burgerButton {
    display: none !important;
}

/* Show burger button only on small screens (below sm breakpoint) */
@media (max-width: 48em) {
    .burgerButton {
        display: flex !important;
    }
}