.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.divider {
    margin-bottom: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
